body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

header {
    flex: 0 80px;
    height: 80px;
}

main {
    padding-top: 86px;
    padding-bottom: 66px;
    max-width: 1000px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer {
    flex: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    height: 60px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    justify-content: end;
    list-style: none;
    padding: 0 1em;

}

.nav-item {
    margin: 0.2em 1em
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

form {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.login-panel {
    flex: 1 1 450px;
    max-width: 400px;
}

button, input, optgroup, select, textarea {
    padding: 0.3em;
    margin: 0.2em 0em;
}

.author-name {
    flex: 5;
    padding-right: 1em;
}

.footer-link {
    flex: 1;
    padding-left: 1em;
}

.adam-smith {
    float: right;
    max-width: 300px;
}

.gameplay-data {
    flex: 1;
    background: #0d6efd;
    color: #f8f9fa; 
    border-radius: 4px;
    padding: 1em 0.5em;
    margin: 0.5em 0em;
    text-align: center;
}

.revenue {
    background-color: rgb(32, 224, 32);
}

.costs {
    background-color: red;
}

.profit {
    background-color: #212529;
}

span {
    font-weight: bold;
}